@import './variables.scss';

@mixin gradient-text($deg: 120deg) {
    background: linear-gradient($deg, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
